---
layout: base
css: css/team.css
---


<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/team/avatar2.png" alt="CK" style="width:100%">
      <div class="container">
        <h2>CK</h2>
        <p class="title">Owner &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/team/avatar1" alt="DB" style="width:100%">
      <div class="container">
        <h2>DB</h2>
        <p class="title">Owner &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img/team/avatar2.png" alt="John" style="width:100%">
      <div class="container">
        <h2>TBA</h2>
        <p class="title">Programmer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
